
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<div class="row">
	<div class="col-8">
		<h3>
			Веб-приложение разработано в качестве дипломного проекта в Минский Государственный Колледж Электроники
		</h3>
		<p>
			Программировал и отладил Владислав Комар, группа 23ТП
		</p>
		<ul>
			<li><b>GitHub:</b> <a href="https://github.com/UladzislauKomar">https://github.com/UladzislauKomar</a></li>
			<li><b>VK:</b> <a href="https://vk.com/id115943775">https://vk.com/id115943775</a></li>
			<li><b>Mail:</b> komarvlad15799@mail.ru</li>
		</ul>
	</div>
</div>


