
@{
    ViewData["Title"] = "Help";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}
<div class="row">
	<div class="col-8">
		<h3>
			Регистрация и авторизация
		</h3>
		<p>
			Для регистрации выберите соответствующий пункт меню в верхней правой панели. После ввода данных будет отправлено письмо на
			введенный адрес электронной почты. После подтверждения почты вы получаете возможность оценивать новости, а также оставлять комментарии.
			После регистрации вы можете войти в систему, используя ваш логин и пароль.
		</p>
		<h3>
			Публикация новостей
		</h3>
		<p>
			Чтобы получить возможность публиковать новости, свяжитесь с администратором ресурса.<br />
			@if (User.IsInRole("writer") || User.IsInRole("admin"))
			{
				<span>
					Для публикации новости выберите пункт меню "Опубликовать" в верхней панели.<br />
					При создании новости необходимо указывать ссылку на картинку, которая размещена на любом доступном ресурсе (прим. Imgur).<br />
					Текст новости поддерживает форматирование Markdown, также вы можете указать свои теги (через запятую).<br />
					Если вы хотите редактировать или удалить новость, выберите соответствующие пункты меню под новостью.
				</span>
			}
		</p>
		<h3>
			Редактирование профиля
		</h3>
		<p>
			Также вы можете редактировать свой профиль, для этого нажмите на ваш логин в верхней панели, 
			после чего на странице профиля нажать на кнопку редактировать. 
		</p>
	</div>
</div>